<div class="card">
    <div class="header">
        <div class="type">
            <p>Adult</p>
        </div>
    </div>
    <div class="description">
        <p>Shelter</p>
        <p>Mixed breed</p>
    </div>
</div>